<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Agustin Chavez</title>

   <!-- Custom styles for this template go here -->
   <link href='https://fonts.googleapis.com/css?family=Baumans' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'styles', media: 'all', 'data-turbolinks-track' => true %>
    <!-- jQuery is required for Bootstrap to work -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>
     <%= javascript_include_tag 'scripts', 'data-turbolinks-track' => true %>
     <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- javscript API -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6_AGSzD00U-Y0cFt1NXFVF7GNo-yd39g"></script>

  </head>

  <body data-spy="scroll" data-target=".navbar"  >

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="#home">Home</a>
    </div>
    <div>
      <div class="navbar-collapse collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Portfolio <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#work">Work</a></li>
              <li><a href="https://github.com/agustinchavez">Github</a></li>
              <li><a href="posts#index">Blog</a></li>
            </ul>
          </li>
          <li><a href="#get_in_touch">Contact</a></li>
          <li><a href="#faq">services</a></li>
          <li><a href="#about">about</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="jumbotron" id="home">
   <h1>Be Exceptional</h1>
      <p>
        <strong>In a world of boring, make sure your website stands out.</strong><br> Contact me if you'd like to work together, i'm always excited to hear about new projects.<br>
        <a href="#about">Learn more</a>
      </p>
  <div id="midground"></div>
</div>



    <div class="container" id="about">
      <div class="introduction">
        <h1>Hi, my name is Agustin Chavez, I build <strong>beatiful</strong> and <strong>functional</strong> websites and web apps for small businesses and clients.</h1>
      </div>
        <div class="col-md-6 aboutPic">
          <img src="/assets/mouse_and_keyboard_orange.jpg" width="70%" height="85%" alt="octopus"/>
        </div>
        <div class="col-md-6 aboutText">
          <div class="about">
            <h1>About Me</h1>
            <p>
              My love affair with web development began with a simple static site. After a few months of emersive study I have begun to create web apps for others to enjoy. I am focused on creating custom web applications that automate and improve business processes, while remaining flexible for iteration. I am a full-stack developer who can deliver a complete product from start to finish.
            </p>
          </div>
        </div>
      </div>
  </div>

   <div class="row" id="services_wrapper">
        <div class="col-md-4 indiv_serv">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          <h2>Design</h2>
          <p id="design-description">Each one of my designs begin with a blank canvas. Let's work together to design something you'll love.</p>

        </div>
        <div class="col-md-4 indiv_serv">

          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
          <h2>Develop</h2>
          <p id="develop-description">Responsive development will help make your website easily accessible across all devices.</p>

        </div>
        <div class="col-md-4 indiv_serv">
          <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
          <h2>Deploy</h2>
          <p id="deploy-description">launch your site, so the whole world can see</p>
        </div>
    </div>

    <div class="row" id="list_services">
     <div class="row" id="faq">
      <div class="col-md-2">
        <ul>
          <li>RubyonRails</li>
          <li>Design</li>
          <li>Development</li>
          <li>Applications</li>
          <li>Mobile First</li>
          <li>Test Driven Development</li>
          <li>Version Control</li>
        </ul>
      </div>
      <div class="col-md-10">
        <h1>
          My<br><strong>Services</strong>
        </h1>
      </div>
    </div>
</div>

<!-- work section -->


<div class="vex" id="work">
    <a href="#" class="toPopup1"><div class="image1"><img src="/assets/boxwebpage.png" class="example-images" alt="Box Web page" width="60%" height="60%"></div></a>
    <a href="#" class="toPopup4"><div class="image4"><img src="/assets/thirdboxwebpage.png" class="example-images" alt="boxwebpage" width="60%" height="60%"></div></a>
    <a href="#" class="toPopup2"><div class="image2"><img src="/assets/secondboxwebpage.png" class="example-images" alt="boxwebpage" width="60%" height="60%"></div></a>
    <a href="#" class="toPopup3"><div class="image3"><img src="/assets/thirdboxwebpage.png" class="example-images" alt="boxwebpage" width="60%" height="60%"></div></a>

    <div id="toPopup1">
      <div class="row">
        <div class="col-md-7">
          <img src="/assets/bikechicagodemo.png" class="work_example_pop_up_image" alt="Bikes Chicago ecommerce site" width="100%" height="500em">
        </div>
        <div class="col-md-5 work_example_description">
          <h1>Bikes Chicago</h1>
          <h4>Ruby on Rails</h4>
          <h4>Web Development</h4>
          <h4>Web Desgin</h4>
          <p>An ecommerce web app, this site uses the power of Ruby on Rails to sell products trhough credit card payments, allows users to post comments on products, uses Ajax to make server requests without reloading the page, and was built using automatic tests to detect errors early. This app is designed with Bootstrap classes and has front-end features using JavaScript, Jquery, and Angular.</p>
          <h4><a href="https://bikechicagodemo.herokuapp.com/" target="_blank">Launch Website</a></h4>
        </div>
      </div>
    </div>
    <div id="toPopup4">
      <div class="row">
        <div class="col-md-7">
          <img src="/assets/podcast_net.png" class="work_example_pop_up_image" alt="Podcast Network" width="90%" height="90%">
        </div>
        <div class="col-md-5 work_example_description">
          <h1>Podcast Network</h1>
          <h4>Ruby on Rails</h4>
          <h4>Web Development</h4>
          <h4>Web Desgin</h4>
          <p>A podcast network, using JPlayer, Paperclip, AmazonAWS, and more, users are able to upload and listen to mp3 files, and add a description. Users can also explore what other what other users have uploaded and listened to.</p>
          <h4><a href="https://vast-eyrie-3700.herokuapp.com/" target="_blank">Launch Website</a></h4>
        </div>
      </div>
    </div>
    <div id="toPopup2">
      <div class="row">
        <div class="col-md-7">
          <img src="/assets/twitch_tv.png" class="work_example_pop_up_image" alt="Twitch Tv" width="90%" height="90%">
        </div>
        <div class="col-md-5 work_example_description">
          <h1>Twitch Tv</h1>
          <h4>Javascript</h4>
          <h4>Web Desgin</h4>
          <p>This is a searchable status viewer for the Twitch.tv streaming service. Built using JavaScript and Jquery, this status viewer will allow the user to see details on what other users are streaming.</p>
          <h4><a href="http://s.codepen.io/agustinchavez/debug/YwPdRb" target="_blank">Launch Website</a></h4>
        </div>
      </div>
    </div>
    <div id="toPopup3">
      <div class="row">
        <div class="col-md-7">
          <img src="/assets/weather_code_pen.png" class="work_example_pop_up_image" alt="Weather app" width="90%" height="90%">
        </div>
        <div class="col-md-5 work_example_description">
          <h1>Weather App</h1>
          <h4>Javascript</h4>
          <h4>Web Desgin</h4>
          <p>This simple weather app lets you see what the temperature is like outside in both fareheit and celsius. Built using JavaScript, Jquery, and the Open Weather API this weather viewer will allow the user to see the weather in their current location.</p>
          <h4><a href="http://s.codepen.io/agustinchavez/debug/XmbMaW" target="_blank">Launch Website</a></h4>
        </div>
      </div>
    </div>

    <div id="backgroundPopup"></div>
</div>

<!-- contact form -->
  <div class="container" id="contact_me">
    <div class="contact_me_pic">
      <h1 class="contact_me" id="get_in_touch">Get In Touch</h1>
      <div class="contact_information col-lg-4 col-md-4">
          <p>Interested in working together?</p>
          <br>
          <p>Send me an email with some information about your project.
           <span class="glyphicon glyphicon-envelope"></span></p>
           <br>
          <p>Please allow up to a couple of business days for me to respond. <span class="glyphicon glyphicon-comment"></span></p>

      </div>

    <div class="contact-form col-lg-8 col-md-8">
      <%= flash[:notice] %>

      <%= form_tag("/pages/thank_you") do %>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group" id="form-group-name">
            <%= label_tag :name, "Name" %>
            <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
          </div>
          <div class="form-group" id="form-group-email">
            <%= label_tag :email, "Email Address" %>
            <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
          </div>
          <div class="form-group" id="form-group-message">
            <%= label_tag :message, "Message" %>
            <%= text_area_tag :message, nil, :rows => 10, :cols => 20, class: "form-control", placeholder: "Enter Message" %>
          </div>
          <div class="submit">
            <button type="button" class="btn btn-primary">
              <%= submit_tag "Send" %><% end %>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>


  <footer>
    <p class="footer_text">&copy Agustin Chavez <a href="https://twitter.com/chavezagustin1" class="twitter-follow-button" data-show-count="false">Follow @chavezagustin1</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>

  </footer>

    <!--
    ================================================== -->
    <!-- Can place script tags with JavaScript files here -->

  </body>
</html>
