<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Agustin Chavez</title>

   <!-- Custom styles for this template go here -->
   <link href='https://fonts.googleapis.com/css?family=Baumans' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'styles', media: 'all', 'data-turbolinks-track' => true %>
    <!-- jQuery is required for Bootstrap to work -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>
     <%= javascript_include_tag 'scripts', 'data-turbolinks-track' => true %>
     <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- javscript API -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6_AGSzD00U-Y0cFt1NXFVF7GNo-yd39g"></script>

  </head>

  <body data-spy="scroll" data-target=".navbar"  >

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="#home">Home</a>
    </div>
    <div>
      <div class="navbar-collapse collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Portfolio <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#work">Work</a></li>
              <li><a href="https://github.com/agustinchavez">Github</a></li>
            </ul>
          </li>
          <li><a href="#contact_me">Contact</a></li>
          <li><a href="#faq">faq</a></li>
          <li><a href="#about">about</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="jumbotron" id="home">
  <div id="background"></div>
  <div id="midground"></div>
  <div id="foreground"></div>
</div>

<!-- <div class="backgroun-caption">
      <h1>Be Exceptional</h1>
      <p>
      <strong>In a world of boring, make sure your website stands out.</strong> Contact me if you'd like to work together, i'm always excited to hear about new projects.</p>
      <a href="#about">Learn more</a>
    </div>
 -->


<div class="introduction">
  <h1>Hi, my name is Agustin Chavez, I build <strong>beatiful</strong> and <strong>functional</strong> websites and web apps for small businesses and clients.</h1>
</div>

    <div class="container" id="about">
      <div class="about">
        <h1>About Me</h1>
      </div>
      <div class="col-md-6 aboutPic"><img src="/assets/mouse_and_keyboard_orange.jpg" width="355" height="417" alt="octopus"/></div>
    <div class="col-md-6 aboutText">
      <p>
        My love affair with web development began with a simple static site. After a few months of emersive study I have begun to create web apps for others to enjoy. I am focused on creating custom web applications that automate and improve business processes, while remaining flexible for iteration. I am a full-stack developer who can deliver a complete product from start to finish.
      </p>
    </div>
      </div>
  </div>

   <div class="row" id="services_wrapper">
        <div class="col-md-4 indiv_serv">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          <h2>Design</h2>
          <p id="design-description">Each one of my designs begin with a blank canvas. Let's work together to design something you'll love.</p>

        </div>
        <div class="col-md-4 indiv_serv">

          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
          <h2>Develop</h2>
          <p id="develop-description">Responsive development will help make your website easily accessible across all devices.</p>

        </div>
        <div class="col-md-4 indiv_serv">
          <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
          <h2>Deploy</h2>
          <p id="deploy-description">launch your site, so the whole world can see</p>
        </div>
    </div>

    <div class="row" id="list_services">
     <div class="row" id="faq">
      <div class="col-md-2">
        <ul>
          <li>RubyonRails</li>
          <li>Design</li>
          <li>Development</li>
          <li>Applications</li>
          <li>Mobile First</li>
          <li>Test Driven Development</li>
          <li>Version Control</li>
        </ul>
      </div>
      <div class="col-md-10">
        <h1>
          My<br><strong>Services</strong>
        </h1>
      </div>
    </div>
</div>

<!-- work section -->


    <div class="row row-modal">
      <div class="col-xs-6 col-sm-3" id="first_example">
      <div class="work_example_image" data-toggle="modal" data-target=".bs-example-modal-sm">
        <img src="/assets/boxwebpage.png" class="example-images" alt="Box Web page" width="100%" height="100%">
      </div>
      <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static"  data-keyboard="false">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Work</h4>
            </div>
            <div class="modal-body">
              <iframe id="modal-frame" src="https://s3.amazonaws.com/agustinchavez.ninja/sunsetsunrise.jpg"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="col-xs-6 col-sm-3" id="second_example">
        <div class="work_example_image" data-toggle="modal" data-target=".bs-example-modal-sm">
          <img src="/assets/secondboxwebpage.png" class="example-images" alt="Mountains" width="100%" height="100%">
      </div>
      <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static"  data-keyboard="false">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="mysecondModalLabel">Example 2</h4>
            </div>
            <div class="modal-body">
              <iframe id="modal-frame" src="https://s3.amazonaws.com/agustinchavez.ninja/sunsetsunrise.jpg"></iframe>
            </div>
          </div>
        </div>
      </div>
      </div>

      <!-- Add the extra clearfix for only the required viewport -->
      <div class="clearfix visible-xs-block"></div>

 <div class="col-xs-6 col-sm-3" id="third_example">
        <div class="work_example_image" data-toggle="modal" data-target=".bs-example-modal-sm">
          <img src="/assets/thirdboxwebpage.png" class="example-images" alt="Mountains" width="100%" height="100%">
      </div>
      <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static"  data-keyboard="false">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="mysecondModalLabel">Example 3</h4>
            </div>
            <div class="modal-body">
              <iframe id="modal-frame" src="https://s3.amazonaws.com/agustinchavez.ninja/sunsetsunrise.jpg"></iframe>
            </div>
          </div>
        </div>
      </div>
      </div>

       <div class="col-xs-6 col-sm-3" id="fourth_example">
        <div class="work_example_image" data-toggle="modal" data-target=".bs-example-modal-sm">
          <img src="/assets/fourthboxwebpage.png" class="example-images" alt="Mountains" width="100%" height="100%">
      </div>
      <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static"  data-keyboard="false">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="mysecondModalLabel">Example 4</h4>
            </div>
            <div class="modal-body">
              <iframe id="modal-frame" src="https://s3.amazonaws.com/agustinchavez.ninja/sunsetsunrise.jpg"></iframe>
            </div>
          </div>
        </div>
      </div>
      </div>
</div>

  <div class="container" id="contact_me">
    <h1 class="contact_me">Contact Me</h1>
    <div class="contact_me_pic">
      <div class="contact_information col-lg-4 col-md-4">
        <h3 class="get_in_touch">Get in Touch <span class="glyphicon glyphicon-bullhorn"></span></h3>
          <p>Interested in working together?</p>
          <br>
          <p>Send me an email with some information about your project. You can reach me at <strong>chavez.agustin@outlook.com</strong>
           <span class="glyphicon glyphicon-envelope"></span></p>
           <br>
          <p>Please allow up to a couple of business days for me to respond. <span class="glyphicon glyphicon-comment"></span></p>
<!--

    <div class="container">
      <iframe
        width="900"
        height="250"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/search?key=AIzaSyD6_AGSzD00U-Y0cFt1NXFVF7GNo-yd39g
          &q=record+stores+in+Chicago">
      </iframe>
    </div> -->

      </div>

    <div class="contact-form col-lg-8 col-md-8">
      <%= flash[:notice] %>

      <%= form_tag("/pages/thank_you") do %>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group" id="form-group-name">
            <%= label_tag :name, "Name" %>
            <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
          </div>
          <div class="form-group" id="form-group-name">
            <%= label_tag :email, "Email Address" %>
            <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
          </div>
          <div class="form-group" id="form-group-message">
            <%= label_tag :message, "Message" %>
            <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>
          </div>
          <div class="submit">
            <button type="button" class="btn btn-primary">
              <%= submit_tag "Send" %><% end %>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <p id="visible-comment"></p>
  <p id="char-count"></p>


  <footer>
    <p>&copy Agustin Chavez <a href="https://twitter.com/chavezagustin1" class="twitter-follow-button" data-show-count="false">Follow @chavezagustin1</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>

  </footer>

    <!--
    ================================================== -->
    <!-- Can place script tags with JavaScript files here -->

  </body>
</html>
