<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>About Me</title>

   <!-- Custom styles for this template go here -->
   <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Fredericka+the+Great' %>
   <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Hind:300" rel="stylesheet' %>

   <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Arbutus' %>






  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <%= stylesheet_link_tag    'styles', media: 'all', 'data-turbolinks-track' => true %>
    <!-- jQuery is required for Bootstrap to work -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>
     <%= javascript_include_tag 'scripts', 'data-turbolinks-track' => true %>
     <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- javscript API -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6_AGSzD00U-Y0cFt1NXFVF7GNo-yd39g"></script>

  </head>

  <body data-spy="scroll" data-target=".navbar"  >

  <div class="container-fluid">
  <div class="row">
    <nav class="navbar  navbar-static-top" style="background-color: transparent;">
            <ul class="breadCrumbs">
              <li class="navLinks aboutNav"><%= link_to "WORK", root_path %></li>
              <li class="navLinks aboutNav"><%= link_to "ABOUT ME", me_path %></li>
              <li><img class="aclogo" src="/assets/ACLogo.png"><%= link_to "", root_path %></li>
              <li class="navLinks aboutNav"><%= link_to "BLOG", posts_path %></li>
              <li class="navLinks aboutNav"><%= link_to "CONTACT", contact_path %></li>
            </ul>
      </nav>
    <div class="col-md-12 aboutSplash">
      <h1>AGUSTIN CHAVEZ</h1>
      <h3>Web Developer</h3>
      <p class="meBlurb">
        - Hi Friends, this portfolio belongs to me, Agustin Chavez,<br> a self-taught Developer, soccer lover, food fanatic, music enthusiast, and so much more.
      </p>
    </div>
  </div>
  </div>
    <hr style='border: none; clear: both'>

    <div class="container-fluid aboutSubSect">
  <div class="row">
    <div class="col-md-4">
      <h4 class="aboutMeTitle">ABOUT ME</h4>
      <p>Oh good, I get to talk about myself some more! I didn't take the traditional route into web development, I studied Political Science at the University of Illinois at Urbana-Champaign, and then spent a couple of years in law school. As a Web Developer, I enjoy working on projects that are cool, innovative, and provide solutions to real people. I play soccer (I love sports!) and I love to interact with the Futbol community. I really appreciate you taking the time to look at my work, if you think we'd be a good match, I'd love to work on a project with you.</p>
    </div>
    <div class="col-md-4">
    <h4 class="aboutMeTitle">TECHNOLOGIES I WORK WITH</h4>
      <p>I've had the pleasure to work with a variety of technologies. Ruby and Ruby on Rails are my main squeeze right now, but i've also worked with Node, and RubyMotion.I am currently plying my trade as a .NET Developer, working with C# on the ASP.NET framework. I am fluent in front end technologies, and make mobile first development a priority. JavaScript, JQuery, HTML, CSS, Sass, and Bootstrap are a few of the tools in my repertoire.</p>
    </div>
  </div>
  </div>

<footer>
    <p class="footer_text"><a href="https://twitter.com/chavezagustin1" class="twitter-follow-button" data-show-count="false">@chavezagustin1</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>

    <ul class="footerList">
      <li><img class="aclogoFooter" src="/assets/ACLogo.png"></li>
      <li><a href="https://github.com/agustinchavez" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="https://codepen.io/agustinchavez/" target="_blank"><i class="fa fa-codepen fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="https://www.linkedin.com/in/agustin-chavez-479784b9" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
    </ul>
  </footer>

  </body>
</html>

